<h1 class="mt-4">Staff Home</h1>
<p class="lead mb-3">Welcome <%= user.name %> to the Staff Homepage</p>
<div>
<a href="/staffPendingRequests" class="btn btn-primary btn-lg ">See Pending Adoption Requests</a>
<a href="/staffAllRequests" class="btn btn-primary btn-lg ">See All Adoption Requests</a>
<a href="/staffAnimalList" class="btn btn-primary btn-lg ">See All Animals</a>
<a href="/staffAdd" class="btn btn-primary btn-lg ">Add an Animal to the Database</a>
<h2>
</div>
<p class="lead mb-3"> Here you may navigate to the various pages where you can carry out your staff duties. </p>
<a href="/users/logout" class="btn btn-primary">Logout</a>
