<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Pack_of_coyotes_on_snow.jpg">
      <p class="lead mb-3"><b>Aston Animal Sanctuary</b></p>
      <p class="lead mb-3"><i>Create an account or login</i></p>
      <a href="/users/login" class="btn btn-secondary btn-block btn-lg">Login</a>
      <a href="/users/stafflogin" class="btn btn-secondary btn-block btn-lg">Staff Login</a>
      <a href="/users/register" class="btn btn-primary btn-block mb-2 btn-lg">Register</a>
    </div>
  </div>
</div>

<div class="row mt-1">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <p class="lead mb-3"> <b> Welcome to Aston Animal Sanctuary where you can adopt many lovable animals, sign up today! </b></p>
      </div>
    </div>
</div>
